@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-base-100: #FAF8F0;
  --color-base-200: #F1EDE3;
  --color-base-300: #E4DFD4;
  --color-base-content: #333333;

  --color-primary: #8B5E3C;
  --color-primary-content: #FFFFFF;

  --color-secondary: #C19A6B;
  --color-secondary-content: #FFFFFF;

  --color-accent: #A0522D;
  --color-accent-content: #FFFFFF;

  --color-neutral: #5F5040;
  --color-neutral-content: #FFFFFF;

  --color-info: #3B82F6;
  --color-info-content: #FFFFFF;

  --color-success: #22C55E;
  --color-success-content: #FFFFFF;

  --color-warning: #FACC15;
  --color-warning-content: #000000;

  --color-error: #EF4444;
  --color-error-content: #FFFFFF;

}

@plugin "daisyui/theme" {
  name: "mythemeDark";
  default: false;


  --color-base-100: #121212;
  --color-base-200: #1E1E1E;
  --color-base-300: #2A2A2A;
  --color-base-content: #E0E0E0;

  --color-primary: #DFA15C;
  --color-primary-content: #1E1E1E;

  --color-secondary: #BC7E4B;
  --color-secondary-content: #121212;

  --color-accent: #E9C46A;
  --color-accent-content: #121212;

  --color-neutral: #B3A093;
  --color-neutral-content: #121212;

  --color-info: #60A5FA;
  --color-info-content: #1E1E1E;

  --color-success: #4ADE80;
  --color-success-content: #1E1E1E;

  --color-warning: #FDE047;
  --color-warning-content: #121212;

  --color-error: #F87171;
  --color-error-content: #121212;


}

.active {
  color: #8B5E3C;
  border-bottom: 1px solid #8B5E3C;
}


.heading {
  font-family: "Cinzel", serif;
}

body {
  font-family: "Merriweather", serif;
}


/* Change arrow color */
.swiper-button-next,
.swiper-button-prev {
  font-weight: lighter;
  font-size: 1rem;
  color: #8B5E3C;
  transition: color 0.3s ease;
}

/* Optional: customize size or hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #BC7E4B;
  transform: scale(1.1);
}