@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  /* Light Mode */
  --color-base-100: #FAF8F0;
  /* background */
  --color-base-200: #F1EDE3;
  /* surface */
  --color-base-300: #E4DFD4;
  --color-base-content: #333333;
  /* text-primary */

  --color-primary: #8B5E3C;
  /* sienna */
  --color-primary-content: #FFFFFF;

  --color-secondary: #C19A6B;
  /* tan */
  --color-secondary-content: #FFFFFF;

  --color-accent: #A0522D;
  /* saddle brown */
  --color-accent-content: #FFFFFF;

  --color-neutral: #5F5040;
  /* taupe */
  --color-neutral-content: #FFFFFF;

  --color-info: #3B82F6;
  --color-info-content: #FFFFFF;

  --color-success: #22C55E;
  --color-success-content: #FFFFFF;

  --color-warning: #FACC15;
  --color-warning-content: #000000;

  --color-error: #EF4444;
  --color-error-content: #FFFFFF;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "mythemeDark";
  default: false;


  --color-base-100: #121212;
  /* background */
  --color-base-200: #1E1E1E;
  /* surface */
  --color-base-300: #2A2A2A;
  --color-base-content: #E0E0E0;
  /* text-primary */

  --color-primary: #DFA15C;
  /* amber */
  --color-primary-content: #1E1E1E;

  --color-secondary: #BC7E4B;
  /* burnt */
  --color-secondary-content: #121212;

  --color-accent: #E9C46A;
  /* golden */
  --color-accent-content: #121212;

  --color-neutral: #B3A093;
  /* stone */
  --color-neutral-content: #121212;

  --color-info: #60A5FA;
  --color-info-content: #1E1E1E;

  --color-success: #4ADE80;
  --color-success-content: #1E1E1E;

  --color-warning: #FDE047;
  --color-warning-content: #121212;

  --color-error: #F87171;
  --color-error-content: #121212;


}

.active{
  color: #8B5E3C; 
  border-bottom: 1px solid #8B5E3C ;
}


.heading {
  font-family: "Cinzel", serif;
}

.desc {
  font-family: "Merriweather", serif;
}